ion-grid {
    padding-left: 15%;
    padding-top: 50%;
    --ion-grid-padding: 2%;

  --ion-grid-padding-xs: 2%;
  --ion-grid-padding-sm: 2%;
  --ion-grid-padding-md: 2%;
  --ion-grid-padding-lg: 2%;
  --ion-grid-padding-xl: 2%;

  --ion-grid-column-padding: 4%;

  --ion-grid-column-padding-xs: 4%;
  --ion-grid-column-padding-sm: 4%;
  --ion-grid-column-padding-md: 4%;
  --ion-grid-column-padding-lg: 4%;
  --ion-grid-column-padding-xl: 4%;
    
}
ion-col {
    background-color: #29996a;
    border: solid 1px #fff;
    color: #fff;
    text-align: center;
    border-radius: 20px;
    
}
ion-row{
    padding-top: 5%;
   
}
.content{
    background-image: url('../../../assets/img/pie2.png');
    width: 199px;
    height: 400px;
}