<div class="content">
  <ion-grid>
    <ion-row class="ion-justify-content-around">
      <ion-col size-md="3">1</ion-col>
      <ion-col size-md="3">2</ion-col>
      <ion-col size-md="3">3</ion-col>
    </ion-row>
    <ion-row class="ion-justify-content-around">
      <ion-col size-md="3">4</ion-col>
      <ion-col size-md="3">5</ion-col>
      <ion-col size-md="3">6</ion-col>
    </ion-row>
  
    <ion-row class="ion-justify-content-around">
      <ion-col size-md="3" offset="3">7</ion-col>
      <ion-col size-md="3" >8</ion-col>
    </ion-row>
    <ion-row class="ion-justify-content-around">
      <ion-col size-md="3" offset="3">9</ion-col>
      <ion-col size-md="3">10</ion-col>
    </ion-row>
    <ion-row class="ion-justify-content-around">
      <ion-col size-md="3" offset="3">11</ion-col>
      <ion-col size-md="3" >12</ion-col>
    </ion-row>
    <ion-row class="ion-justify-content-around">
      <ion-col size-md="3" offset="3">13</ion-col>
      <ion-col size-md="3">14</ion-col>
    </ion-row>
  </ion-grid>

</div>

