<div class="content">
  <ion-grid>
    <ion-row >
      <ion-col id="a" size-md="3">1</ion-col>
      <ion-col id="b" size-md="3">2</ion-col>
      <ion-col id="c" size-md="3">3</ion-col>
    </ion-row>
    <ion-row >
      <ion-col id="d" size-md="3">4</ion-col>
      <ion-col id="e" size-md="3">5</ion-col>
      <ion-col id="f" size-md="3">6</ion-col>
    </ion-row>
  
    <ion-row >
      <ion-col id="g" size-md="3" offset="2">7</ion-col>
      <ion-col id="h" size-md="3" >8</ion-col>
    </ion-row>
    <ion-row >
      <ion-col id="i" size-md="3" offset="2">9</ion-col>
      <ion-col id="j" size-md="3">10</ion-col>
    </ion-row>
    <ion-row >
      <ion-col id="k" size-md="3" offset="2">11</ion-col>
      <ion-col id="l" size-md="3" >12</ion-col>
    </ion-row>
    <ion-row >
      <ion-col id="m" size-md="3" offset="2">13</ion-col>
      <ion-col id="n" size-md="3">14</ion-col>
    </ion-row>
  </ion-grid>

</div>

