<ion-header>

</ion-header>

<ion-content style="margin-left: 25px; top:10%;" id="content" >
    <!-- BEGIN PAGE HEADER-->
    <ion-text style="margin-left: 50px;">
        <h3 class="page-title">Pacientes
        </h3>
    </ion-text>
    
    <section class="content">
      <section class="name">
        <ion-icon name="people-outline"></ion-icon>
        <ion-label class="title-section">Lista de Pacientes</ion-label>
        
      </section>
      <section class="section-buttons">
        <ion-button class="button"[routerLink]="['add']">Anadir<ion-icon name="add-outline"></ion-icon></ion-button>
        <ion-button class="button"(click)="openEditForm()" >Editar<ion-icon name="create-outline"></ion-icon></ion-button>
        <ion-button class="button"(click)="openInspeccionar()">Examinar<ion-icon name="search-outline"></ion-icon></ion-button>
        <ion-button class="button"(click)="deleteData()">Eliminar<ion-icon name="trash-outline"></ion-icon></ion-button>        
      </section>
    </section>
    
    <!-- END PAGE HEADER-->
    <div class="table">
      <app-data-table [listRows]="list" [columns]="columns" (itemSelect)="getPatientSelected($event)"></app-data-table>
    </div>
</ion-content>
