#map { height: 280px; width: 300px;}
ion-content{
    --background: rgb(121, 206, 153);
  }
  .ion-form{
    width: 90%;
    margin: 20px;
    text-align: left;
}
  .chart{
      margin: 30px;
      width: 30%;
  }
  .main_content_div{
    width: 100%;
  
    ion-label{
      display: block;
      color: black;
      text-align: center;
    }
    .user_div{
      padding: 20px;
      width: 100%;
      height: 260px;
      background: var(--home-background);
      display: flex;
      padding-top: 40px;
      justify-content: space-between;
  
      .first_div{
        padding-top: 35px;
        .welcome{
          font-size: 18px;
          color: white;
          font-weight: 500;
        }
        .username{
          font-size: 24px;
          color:white;
        }
      }
    }
    .content_div{
      background: white;
      width: 100%;
      border-top-right-radius: 75px;
      border-top-left-radius: 75px;
      margin-top: -90px;
      padding-top: 30px;
      ion-grid{
        padding: 0px;
      }
      .datauser{
        ion-card-subtitle{
            color: black;
            font-size: 18px;
        }
        div{
            color: black;
            p{
                font-size: 15px;
                font-weight: 600;
            }
            h1{
                font-size: 15px;
                font-weight: 500;
            }
        }

      }
      .col_div{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        height: 100px;
        box-shadow: 0px 3px 6px rgba(0,0,0,0.2);
        border-radius: 5px;
        ion-label{
          color: black;
          margin-top:5px;
          font-size: 18px;
          font-weight: 600;
        }
        ion-input{
          border-color: aquamarine;
        }
      }
    }
  }
  